<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!--plugin-->
    <link rel="stylesheet" href="css/paginate.css">
    <link rel="stylesheet" href="css/ligne.css">


</head>

<body id="page-top">


    <div id="wrapper">
        <!--  End of Sidebar -->
        {{> sidebar}}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <!--Top Nav bar  -->
                {{> topNavbar}}

                <!-- Begin Page Content...-->

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">All users</h1>
                    </div>
                </div>

                <div class="container ">
                    <div class="input-group">
                        {{!-- <label for="searchBox">Filtrar</label> --}}
                        <input type="search" id="searchBox" placeholder="Search...">
                    </div>
                    <hr>
                    <div class=" table-responsive">
                        <table class="myTable table hover ">
                            <tbody>
                                <tr>
                                    <th>USER ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Account Status</th>
                                    <th>Current Package Income</th>
                                    <th>Profile</th>
                                </tr>
                                {{#each userTableData}}
                                <tr>
                                    <td>{{this.user_id}}</td>
                                    <td> {{this.firstName}} </td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.account_status}}</td>
                                    <td> {{this.cur_packg_inc}}</td>
                                    <td>
                                        {{#equal this.account_status 'active'}}
                                        <a class="badge bg-primary text-wrap fs-1 text text-gray-100"
                                            href="/{{this.user_id}}">visit profile
                                        </a>
                                        {{/equal}}
                                        {{#equal this.account_status 'pending'}}
                                        <a class="badge bg-warning text-wrap fs-1 text text-gray-100"
                                            href="/{{this.user_id}}">visit profile
                                        </a>
                                        {{/equal}}
                                        {{#equal this.account_status 'block'}}
                                        <a class="badge bg-danger text-wrap fs-1 text text-gray-100"
                                            href="/{{this.user_id}}">visit profile
                                        </a>
                                        {{/equal}}
                                        {{#equal this.account_status 'renew needed'}}
                                        <a class="badge bg-info text-wrap fs-1 text text-gray-100"
                                            href="/{{this.user_id}}">visit profile
                                        </a>
                                        {{/equal}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>


                <!-- END Begin Page Content-->
            </div>
            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!--pagination plugin-->
    <script type="text/javascript" src="js/paginate.min.js"></script>
    <script>

        let options = {
            numberPerPage: 20, //Cantidad de datos por pagina
            goBar: true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter: true, //Contador de paginas, en cual estas, de cuantas paginas
        };

        let filterOptions = {
            el: '#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
        };

        paginate.init('.myTable', options, filterOptions);
    </script>

</body>

</html>