<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>
  {{!-- Orginal Bs --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">


  <div id="wrapper">
    <!-- _____________________________ START Sidebar _______________________________ -->
    {{> sidebar}}
    <!-- _____________________________ End of Sidebar ______________________________ -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!--==============================  Main Content ================================  -->
      <div id="content">
        <!-- ____________________________ Top Nav bar ___________________________________ -->
        {{> topNavbar}}
        <!-- ___________________________ End of Topbar __________________________________  -->

        <!--____________________________ Begin Page Content... ______________________________  -->

        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            {{#if dashPageSuccMess}}
            <div class="container">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{dashPageSuccMess}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            {{/if}}

            {{#if dashPageErrMess}}
            <div class="container">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{dashPageErrMess}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            {{/if}}
            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Admin Inromation</h6>
                </div>
                <div class="card-body ">

                  <div class="row text-center">

                    <div class="col-lg col-md">
                      <div class="col mb-2">
                        <div class="text-xs font-weight-bold  text-uppercase text-gray-800 mb-1">Admin ID</div>
                        <div class="h5 mb-0 font-weight-bold  text-center  m-auto">
                          <strong>{{admin_id}}</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-lg col-md">
                      Name
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <strong>{{admin_fname}} {{admin_lname}}</strong>
                    </div>
                    <div class="col-lg col-md">
                      <i class="fas fa-cog text-gray-500" data-bs-toggle="modal" data-bs-target="#nameModal">
                      </i>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-lg col-md">
                      Email
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <strong>{{admin_email}}</strong>
                    </div>
                    <div class="col-lg col-md">
                      <i class="fas fa-cog text-gray-500" data-bs-toggle="modal" data-bs-target="#emailChangeModal">
                      </i>
                    </div>
                  </div>
                  <hr>
                  <span class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#resetPassModal"
                    type="button">Reset Password
                  </span>
                </div>

                <div class="card-footer"></div>
              </div>
            </div>
          </div>

          <!-- Name Modal Form -->
          <div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="nameModal">Edit Name</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/admin" method="POST">
                    <div class="row">
                      <input type="hidden" name="user_id" value="{{admin_id}}">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                          value="{{admin_fname}}" name="fName" required>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                          value="{{admin_lname}}" name="lName">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- Email Change Modal Form -->
          <div class="modal fade" id="emailChangeModal" tabindex="-1" aria-labelledby="emailChangeModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="emailChangeModal">Edit Email</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/admin" method="POST">
                    <div class="row">
                      <input type="hidden" name="user_id" value="{{admin_id}}">
                      <div class="col">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                          value="{{admin_email}}" name="email" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- Reset Password Modal Form -->
          <div class="modal fade" id="resetPassModal" tabindex="-1" aria-labelledby="resetPassModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="resetPassModal">Reset Password</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/admin" method="POST">
                    <input type="hidden" name="user_id" value="{{admin_id}}">
                    <input type="hidden" name="xyz" value="{{admin_password}}">
                    <div class="form-group">
                      <input type="password" class="form-control" id="currentPass" aria-describedby="currentPass"
                        placeholder="Enter Your Current Password" name="currentPass" required>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <input type="password" class="form-control" placeholder="New Password" aria-label="Password"
                          name="newPass" required>
                      </div>
                      <br><br>
                      <div class="col-lg-6">
                        <input type="password" class="form-control" placeholder="Confirm Password"
                          aria-label="Confirm Password" name="confPass" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      {{> footer}}
      <!-- End of Footer -->
    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Orgibal BS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>