<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{title}}</title>

    <!--Orginal BS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!--table css-->
    <link href="assets/datatables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">


    <div id="wrapper">
        <!--  START Sidebar  -->
        {{> sidebar}}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <!-- Top Nav bar-->
                {{> topNavbar}}

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">New Id Active Request</h1>
                    </div>
                    <div class="container">
                        {{#if newIdPageSuccMess}}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong> {{newIdPageSuccMess}} </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}
                        {{#if neIdPageErrMess}}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong> {{neIdPageErrMess}} </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}
                    </div>

                </div>
                {{!-- table --}}
                <div class="container-fluid table-responsive">

                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Token Id</th>
                                <th>Status</th>
                                <th>Apply Reason</th>
                                <th>User Id</th>
                                <th>Payment Method</th>
                                <th>Payment Number</th>
                                <th>Trnx Id</th>
                                <th>Amount</th>
                                <th>Group Type</th>
                                <th>Referral Id</th>
                                <th>Referral Id Group</th>
                                <th class="text-success">Company Income</th>
                                <!-- <th>Company Cost</th> -->
                                <th>Submit At</th>
                                <th>Solved At</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Token Id</th>
                                <th>Status</th>
                                <th>Apply Reason</th>
                                <th>User Id</th>
                                <th>Payment Method</th>
                                <th>Payment Number</th>
                                <th>Trnx Id</th>
                                <th>Amount</th>
                                <th>Group Type</th>
                                <th>Referral Id</th>
                                <th>Referral Id Group</th>
                                <th class="text-success">Company Income</th>
                                <!-- <th>Company Cost</th> -->
                                <th>Submit At</th>
                                <th>Solved At</th>
                            </tr>
                        </tfoot>

                        <tbody>

                            {{#each dataTable}}
                            <tr>

                                <td class="tokenIdData">{{this.token_id}}</td>

                                {{#equal this.conplain_status 'unsolved'}}
                                <td>
                                    <p class="badge badge-danger text-wrap">{{this.conplain_status}}</p>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-warning use-address"
                                        data-target="#staticBackdrop" data-target="#actionModal" data-toggle="modal">
                                        <i class="fas fa-cogs"></i>
                                    </button>
                                    <div class="my-2"></div>
                                    <button type="button" class="btn btn-outline-danger use-address"
                                        data-bs-toggle="modal" data-bs-target="#removeInvaliedAply"
                                        data-bs-whatever="{{this.token_id}}">
                                        <i class="fas fa-trash"></a></i>
                                    </button>
                                </td>
                                {{/equal}}

                                {{#equal this.conplain_status 'solved'}}
                                <td>
                                    <p class="badge badge-success text-wrap">{{this.conplain_status}}</p>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-success use-address " disabled
                                        data-bs-toggle="button" data-target="#staticBackdrop" data-target="#actionModal"
                                        data-toggle="modal">
                                        <i class="fas fa-cogs"></i>
                                    </button>
                                </td>
                                {{/equal}}

                                <td>{{this.complain_reason}}</td>
                                <td class="userIdData"><a href="/{{this.user_Id}}">{{this.user_Id}}</a></td>
                                <td>{{this.pay_method}}</td>
                                <td>{{this.pay_number}}</td>
                                <td>{{this.trnx_id}}</td>
                                <td class="amountData">{{this.amount}}</td>
                                <td class="package_groupData">{{this.group_type}}</td>
                                <td class="refIdData">{{this.ref_id}}</td>
                                <td class="refIdGrpData">{{this.ref_group}}</td>
                                <td class="text-success"><strong>{{this.com_income}}</strong> </td>
                                <!-- <td>{{this.com_cost}}</td> -->
                                <td> <small>{{dateFormat this.submit_date "LLL"}}</small> </td>
                                <td> <small>{{dateFormat this.solve_date "LLL"}}</small> </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- Table End --}}

                <!-- Edit Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Upgrade Package Confirm
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                {{!-- form //NEW ID --}}
                                <form action="/newIdRequest" method="POST" id="my-form">
                                    <div class="form-group row">
                                        <div class="col-lg-4 ">
                                            <input type="text" class="form-control" name="tokenNumber" id="tokenNumber"
                                                readonly>
                                            <small class="form-text text-muted">Token Number</small>
                                        </div>
                                        <div class="col-lg-4 ">
                                            <input type="text" class="form-control" name="userId" id="userId" readonly>
                                            <small class="form-text text-muted">User ID</small>
                                        </div>
                                        <div class="col-lg-4 ">
                                            <input type="number" class="form-control" name="refId" id="refId" readonly>
                                            <small class="form-text text-muted">Referral Person ID</small>
                                        </div>
                                        <input type="hidden" name="refIdGrp" id="refIdGrp">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" step="any" class="form-control" name="amount" id="amount">
                                    </div>

                                    <div class="form-group">
                                        <label for="package_group">Desired Group</label>
                                        <select id="package_group" class="form-control" name="package_group" required>
                                            <option value="">Select Your Package Group</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                        </select>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- remove modal-->
                <div class="modal fade" id="removeInvaliedAply" tabindex="-1" aria-labelledby="removeInvaliedAplyLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="removeInvaliedAplyLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/removeInvaliedAply" method="POST">
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label"><strong>Are you
                                                sure?</strong> Delete Token Number</label>
                                        <input type="text" class="form-control" id="recipient-name" name="tokenNumber"
                                            required readonly>
                                        <small>If you remove this application, it'll delete it permanently.</small>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Orginal BS byndel-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="assets/jquery.datatables.min.js"></script>

    <script src="assets/datatables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
    <script>
        $(".use-address").click(function () {
            var tokenNumber = $(this).closest("tr").find(".tokenIdData").text();
            var userId = $(this).closest("tr").find(".userIdData").text();
            var refId = $(this).closest("tr").find(".refIdData").text();
            var package_group = $(this).closest("tr").find(".package_groupData").text();
            var amount = $(this).closest("tr").find(".amountData").text();
            var refIdGrp = $(this).closest("tr").find(".refIdGrpData").text();

            document.getElementById('tokenNumber').value = tokenNumber;
            document.getElementById('userId').value = userId;
            document.getElementById('refId').value = refId;
            document.getElementById('package_group').value = package_group;
            document.getElementById('amount').value = amount;
            document.getElementById('refIdGrp').value = refIdGrp;
        });

    </script>

    <script>
        var removeInvaliedAply = document.getElementById('removeInvaliedAply')
        removeInvaliedAply.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = removeInvaliedAply.querySelector('.modal-title')
            var modalBodyInput = removeInvaliedAply.querySelector('.modal-body input')

            //modalTitle.textContent = 'New message to ' + recipient
            modalBodyInput.value = recipient
        })
    </script>


</body>

</html>